# Virtual Environment
venv/
env/
ENV/
.venv/

# Byte-compiled / Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Processed data akan di-commit supaya repo bisa langsung dijalankan
# Jika file terlalu besar (>100MB), gunakan Git LFS

# IDE / OS specific files
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db